.table {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  position: relative;
}
.table-background {
  height: 100%;
  z-index: -1;
  display: flex;
}
.table-foreground {
  position: absolute;
  top: 40px;
}
.table .column {
  flex-shrink: 0;
  height: 100vh;
  border-left: 1px solid black;

  &.bold {
    border-left: 2.5px solid black;
  }

  .year-label {
    position: absolute;
    writing-mode: vertical-lr;
    padding: 2px;
    bottom: 0;
  }
}
